<%= image_tag("backg1.jpg", class: "img-fluid about-img") %>
<div class="index-content">
  <h1>Welcome to BSL!</h1>
  <p class="intro-text">Welcome to my WEB APP</p>
  <%= render 'simple_pages/carousel' %>
  <%= params[:example_key].to_i * 10 %>
</div><!--/index-content -->
